
body{
    background: #d8dde4;
}

.cuk-layout {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    padding: 80px 0;
    height: 100%;
    width: 80%;
    margin: auto;
}
[class*=cuk-], [class*=cuk-] :after, [class*=cuk-] :before {
    box-sizing: border-box;
}
[class*=cuk-] {
    -webkit-tap-highlight-color: transparent;
}
.cuk-layout-aside, .cuk-layout-content {
    padding: 30px;
    border-radius:10px;
}
.cuk-layout-aside {
    width: 220px;
    background: #fff;
    margin-right: 10px;
    -ms-flex-positive: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 220px;
    flex-basis: 220px;
}

.basic-info-2Ns {
    padding: 0 30px 30px;
    text-align: center;
}
.section-2ZI {
    border-bottom: 1px solid #d8dde4;
}
img.avatar-36q {
    width: 120px;
    height: 120px;
}
img.cuk-avatar-large {
    width: 128px;
    height: 128px;
}
[class*=cuk-], [class*=cuk-] :after, [class*=cuk-] :before {
    box-sizing: border-box;
}
[class*=cuk-] {
    -webkit-tap-highlight-color: transparent;
}
.cuk-avatar-circle {
    border-radius: 50%!important;
}
.cuk-avatar {
    padding: 0;
    margin: 0;
    border: none;
}
.username-1y7 {
    margin-top: 14px;
    margin-bottom: 0;
    line-height: 28px;
    font-size: 20px;
}

.bio-_sm {
    margin-top: 8px;
    margin-bottom: 0;
    color: #76808e;
    text-align: left;
}
.follow-info-5YF {
    padding: 20px 0;
    text-align: center;
    font-size: 16px!important;
    line-height: 28px;
    font-size: 20px;
}
.section-2ZI {
    border-bottom: 1px solid #d8dde4;
}
.follow-info-5YF a {
    color: #202d40;
}
.divider-gPC {
    margin: 0 5px;
}
.activity-info-BDI, .profileInfo-1hl {
    color: #76808e;
    list-style: none;
    margin: 0;
    padding: 20px 30px;
}

.section-2ZI {
    border-bottom: 1px solid #d8dde4;
}
ul {
    list-style: none;
}
.activity-info-BDI>li, .profileInfo-1hl>li {
    margin-bottom: 12px;
    line-height: 20px;
}
.activity-info-BDI>li, .profileInfo-1hl>li {
    margin-bottom: 12px;
    line-height: 20px;
}
.clearfix {
    zoom: 1;
}
.section-2ZI:last-child {
    border-bottom: 0;
}
.activity-info-BDI, .profileInfo-1hl {
    color: #76808e;
    list-style: none;
    margin: 0;
    padding: 20px 30px;
}
.cuk-layout-content {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    background: #fff;
}
.cuk-tab-bar-nav {
    height: 36px;
    width:100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #d8dde4;
}
.cuk-tab-bar-nav a {
    text-decoration: none;
}
.cuk-tab-bar-active {
    background-color: #fff;
    font-weight: 900;
    border: 1px solid #d8dde4;
    border-bottom: none;
    border-radius: 2px 2px 0 0;
}

.cuk-tab-bar-active, .cuk-tab-bar:hover {
    color: #202d40;
}
.cuk-tab-bar {
    font-weight: 700;
    height: 36px;
    display: inline-block;
    padding: 0 30px;
    margin-bottom: -1px;
    font-size: 16px;
    line-height: 36px;
    cursor: pointer;
    border: 1px solid transparent;
    color: #606c80;
}
.cuk-tab-bar-active {
    background-color: #fff;
    font-weight: 700;
    border: 1px solid #d8dde4;
    border-bottom: none;
    border-radius: 2px 2px 0 0;
}
.cuk-tab-pane{
    padding: 10px;
}
#OrderContent
{
    margin :-20px auto 20px;
    width:80%;
    
}
#OrderContent .ps-cart__content
{
    height :280px;
    border:1px solid #d8dde4;
    border-bottom:none;
}
#OrderContent p
{
    color:#fff;
}
#OrderContent p span
{
    float:none;
    margin:0 10px;
}
#OrderContent .ps-cart-item__content p span
{
    margin:0 30px;

    color:rgba(118, 128, 142, 0.70);
}
#dingdan ul div
{
    border-top:1px solid rgba(187, 191, 195, 0.36);
    clear: both;
}
#OrderContent span i
{
    color:#ff5858;
}
#UpdateCus
{
    color:#fff;
    background-image:linear-gradient(#202d40,#202d40);
}
#CZ {
    padding:10px 30px;
    background-image:linear-gradient(#202d40,#202d40);
}

.zhuce 
{
    font-size:16px;
}

.zhuce input, .zhuce select {
    width:64%;
    margin:13px 10px;
    /*clear:both;
    float:right;*/
   background-color: transparent;
    border: none;
    padding:0 10px 5px 10px;
    font-size: 13px;
    border-bottom: 1px solid rgba(238, 238, 238, 0.41);
    outline: none;
    color: #202d40;
}
#UpdateUser
{
    margin-top:15px;
    padding:6px 20px;
    width:100px;
    background-image:linear-gradient(#202d40,#202d40);
}
.ps-coll__content
{
    padding-top: 20px;
    height: 360px;
}
.ps-coll__content .ps-coll-item .ps-cart-item__content
{
    margin:3% auto 0;
}
.ps-coll__content .ps-coll-item p span
{
    margin:0 10%;
}
.divPing
{
    width:60%;
    margin:0 auto;
}
.h3pingjia{
    padding:15px;
    border-bottom:1px solid #d8dde4;
}
.ulpingjia li .spanStar
{
     font-size: 0;
}
.ulpingjia li
{
    margin:20px 0;
    height:30px;
    text-align:center;
    vertical-align:middle;
}
.ulpingjia li i::after
{
    padding:0 20px;
    cursor:pointer;
    display:inline-block;
      vertical-align: top;
    width:30px;
    height:30px;
    font-size:24px;
      -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.ulpingjia li .iactive~i::after
{
   content:"\e9d7";
}
.ulpingjia li i::after
{
   content:"\e9d9" ;
    color:red;
}
.ulpingjia li:hover i::after
{
   content:"\e9d9" ;
    color:red;
}
.ulpingjia li:hover i:hover~i::after
{
   content:"\e9d7";
}

.ulpingjia li i:hover::after
{
   font-size:30px;
   color:#ff5858;
   text-shadow:0 0 5px red;
}
.ulpingjia li span
{
    font-weight:bold;
    font-size:19px;
    margin:0 20px;
}
.ulnum li
{
    list-style:circle;
    clear:both;
    width:100%;
}
.ulnum li textarea
{
    float:left;
    width:100%;
    margin:10px 0;
    font-size:16px;
    padding:5px;
}
.ulnum li h5
{
    float:left;
}
.divclear
{
    clear:both;
}
#iDowm{
    position:absolute;
    margin-left:10px;
 animation: Mydown 0.8s infinite linear alternate; 

}
@keyframes Mydown {
    from {
        transform:translateY(-5px);
    }

    to {
        transform:translateY(10px);
    }
}
.cuk-avatar
{
    transition:all 0.4s ease-in-out;
}
.cuk-avatar:hover
{
    box-shadow:0 0 10px #202d40;
}
